<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<Properties xmlns="http://schemas.openxmlformats.org/officeDocument/2006/extended-properties" xmlns:vt="http://schemas.openxmlformats.org/officeDocument/2006/docPropsVTypes"><Application>LibreOffice/24.2.7.2$Linux_X86_64 LibreOffice_project/420$Build-2</Application><HeadingPairs><vt:vector size="2" baseType="variant"><vt:variant><vt:lpstr>工作表</vt:lpstr></vt:variant><vt:variant><vt:i4>4</vt:i4></vt:variant></vt:vector></HeadingPairs><TitlesOfParts><vt:vector size="4" baseType="lpstr"><vt:lpstr>Tổng quan</vt:lpstr><vt:lpstr>Dữ liệu chi tiết</vt:lpstr><vt:lpstr>Trùng ngày song song</vt:lpstr><vt:lpstr>Ghi chú dữ liệu</vt:lpstr></vt:vector></TitlesOfParts></Properties>